img{
    float: center;
    display:block;
    height: auto;
    margin: 20px auto;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 5px rgb(106, 6, 6);
    border-width: 2px;
    animation: spin 10s linear infinite;
}
.profile{
    width:400px;
    border-radius: 50%;
    margin:20px auto;
    display:block;
}

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
a:link{
  background-color:rgb(166, 235, 131);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 4px red;
}
a:hover{
    color:rgb(8, 152, 15);
}
button{
    font-style: italic;
    font-weight: bold;
    background-color: azure;
    border-radius: 5px;
    border-color: black;
    border-width: 0px;
    box-shadow: 2px 2px 4px rgb(5, 0, 24);
}
button:hover{
    color:aqua;
    background-color: red;
}
button:active{
    color:brown;
}
nav a{
    color: black;
    font-style: italic;
    font-weight: bold;
    background-color:rgb(166, 235, 131);
    border-style: groove;
    border-color: black;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px red;
    animation: myScale;
    animation-duration: 2s;
}
iframe{
    border-color: rgb(89, 29, 29);
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px red;
}
body{
    text-align: center;
    background-color: rgb(108, 159, 200);
    font-size: larger;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
   text-shadow: 2px 2px 4px rgb(199, 55, 55);
   box-shadow: 4px 4px 5px rgb(199, 55, 55);
    margin-top: 40px;
}
h2{
    text-shadow: 2px 2px 4px blue;
    box-shadow: 3px 3px 4px blue;
    margin-top: 40px;
}
h3{
    color:blue;
    text-shadow: 2px 2px 4px rgb(53, 18
}


